{% for release in releases %}
### release.version (release.date)

{% endfor %}




====================================================================

### 1.1.79 (2017-07-12)


#### Bug Fixes

* Changed caption and hint fields from 'demote' to 'remove.' ([db8fbf6e](https://github.com/ozone-development/ozp-center.git/commit/db8fbf6e5e3ea7bfa4a6c22bd677129e0eab1a42))


### 1.1.78 (2017-07-03)


#### Bug Fixes

* Selecting the save button in Center Settings now properly saves information. ([99c64014](https://github.com/ozone-development/ozp-center.git/commit/99c64014b6019d578d0cf335c5b0f61ecdf47e5e))


#### Bug Fixes

* **search:** fixed critical defect where apps were not opening after search (JIRA 482 & 450) ([bd24c716](https://github.com/ozone-development/ozp-center.git/commit/bd24c7168dcabb98e217c9339aa1cd295ee168e5))

### 1.1.68 (2017-05-03)


#### Bug Fixes

* **notification:** notification modal no longer says "0No Notifications" (#795) ([ef1b0c82](https://github.com/ozone-development/ozp-center.git/commit/ef1b0c82dfe3b7679883aa763d1996ce89255e4a))

### 1.1.47 (2016-10-26)

#### Bug Fixes

* **Carousel:**
  * Added newline because github was complaining #726 ([17fff233](https://github.com/ozone-development/ozp-center.git/commit/17fff2335a8c1aae010ac81bbe503d04420a7dba))
  * Forgot new style sheet #726 ([9c54020d](https://github.com/ozone-development/ozp-center.git/commit/9c54020d312834bdb6a0f61232f3431e1ea9803b))
  * Fixed styling for new listings so they don't appear out of the list #726 ([edab8279](https://github.com/ozone-development/ozp-center.git/commit/edab8279ccf7bf3e84774090edbcf1f285225f06))
* **carousel:** correcting previous style change which prevented carousel animation ([de43acaf](https://github.com/ozone-development/ozp-center.git/commit/de43acafa01e7f76200e37758934a6d9c14d6f47))
